:root{
    --clear-white-color: #FFFFFF;
    --bg-secondary-color: #F5F4FA;
    --bg-dark-color: #2F303A;
    --font-color-h: #212121;
    --font-color-p: #757575;
    --font-color-adress: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --clear-black-color: #000000;
    --border-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --icon-color: #AFB1B8;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--clear-white-color);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list{
    list-style: none;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a:link,
a:visited {
    text-decoration: none;
}

img {
    display: block;
}

button{
    cursor: pointer;
    display: block;
}

.section-block{
    padding: 94px 0px;
}
/* Header */

header{
    border-bottom: var(--border-header-color) 1px solid;

}

.navigation-layout, .navigation-links, .navigation-contacts, .navigation-pages{
    display: flex;
}

.navigation-layout, .navigation-pages{
align-items: center;
}

.list-page{
    position: relative;
}


.contact-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    fill:var(--font-color-p);
    margin-right: 10px;
    transition: fill var(--transition-dur-and-func);
}

.contact-header:hover .contact-icon, 
.contact-header:focus .contact-icon {
    fill: var(--accent-color);
}


.navigation-pages, .navigation-contacts{
    margin-left: auto;
}

.mail{
    margin-right: 50px;
}

.list-page:not(:last-child){
    margin-right: 50px;
}

.logo-header{
    margin-right: 93px;
}

.logo{
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header{
    color: var(--clear-black-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding: 24px 15px 25px 15px;
}

.page{
    color: var(--font-color-h);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
}

.current {
    color: var(--accent-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
}

.page:hover, .page:focus, .contact-header:hover,
.contact-header:focus, .address-footer:hover, 
.address-footer:focus, .contact-footer:hover, 
.contact-footer:focus  {
    color: var(--accent-color);
}

.contact-header{
    color: var(--font-color-p);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: color var(--transition-dur-and-func);
}

/* Section Hero */

.hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Images/hero.jpg);
    padding: 200px 0px;
    max-width: 1600px;
    margin: 0 auto;
}

/* .hero>.container{
    padding: 200px;
} */

.hero__title{
    color: var(--clear-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.modal-button{
    background-color: var(--accent-color);
    color: var(--clear-white-color);
    font-family: inherit, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin: 30px auto 0px auto;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
}

/* Values Sections */

.values{
    padding-bottom: 0px;
}

.values__title{
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.values__text{
    color: var(--font-color-p);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
}

.values__list{
    display: flex;
        gap: 30px;
}

.values__card{
    flex-basis: calc((100%-90px)/4);
}

.values__image{
    height: 120px;
    background-color: var(--bg-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 5px;
}

.values__icon{
    display: block;
    width: 70px;
    height: 70px;
margin: 0 auto;

}

/* Activity Sections */

.activity__title{
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.activity__list{
    display: flex;
gap: 30px;
}

.activity__card{
    position: relative;
}

.activity__block{
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.activity__name{
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--clear-white-color);
}


/* Team Sections */

.team{
    background-color: var(--bg-secondary-color);
}

.team__title{
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
}

.team-member__name {
    color: var(--font-color-h);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.team-member__job-position {
    color: var(--font-color-p);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 16px;
}

.team__list{
    display: flex;
    gap: 30px;
}

.team-member__details{
    padding: 30px 0px;
    background-color: var(--clear-white-color);
    border-radius: 0px 0px 4px 4px;
}

.team-member{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-member__social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list__link{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background-color: var(--clear-white-color);
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
}

.social-list__icon{
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill var(--transition-dur-and-func);
}

.social-list__link:hover{
    background-color:var(--accent-color);
}

.social-list__link:hover .social-list__icon {
    fill: var(--clear-white-color);
}

/* Clients section */

.clients{
    padding: 94px 0;
}
.clients__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.clients__list{
    display: flex;
    flex-basis: calc((100%-150px)/6);
    gap: 30px;
}

.clients__link{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: var(--icon-color) 1px solid;
    border-radius: 5px;
    width: 170px;
    height: 92px;
    text-align: center;
    transition: border var(--transition-dur-and-func);
}

.clients__icon{
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    transition: fill var(--transition-dur-and-func);
}

.clients__link:hover{
    border: var(--accent-color) 1px solid;
}

.clients__link:hover .clients__icon{
fill: var(--accent-color);
}

/* Projects Sections */

.projects__button{
    color: var(--font-color-h);
    background-color: var(--bg-secondary-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border:none;
    transition: color var(--transition-dur-and-func);
    transition: background-color var(--transition-dur-and-func);
    transition: box-shadow var(--transition-dur-and-func);
}

.projects__button:hover, .projects__button:focus {
    color: var(--clear-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.project-card__title{
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em; 
    margin-bottom: 4px;
}

.project-card__link{
    display: inline-block;
    transition: box-shadow var(--transition-dur-and-func);
}

.project-card__link:hover, .project-card__link:focus{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.project-card__category{
    color: var(--font-color-p);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.projects__buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

}

.projects__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card__details{
    padding: 20px 24px;
    border:var(--border-color) 1px solid;
    border-top: none;
}

.projects{
    padding: 94px 0;
}

.project-card{
    width: 370px;
}

.project-card__img-wrapper{
    position: relative;
    overflow: hidden;
}

.project-card__overlay{
position: absolute;
top: 0;
left:0;
width: 100%;
height: 100%;
padding: 63px 24px;
background: rgba(33, 150, 243, 0.9);
font-size: 18px;
line-height: 1.56;
color: var(--clear-white-color);
overflow: auto;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__link:hover .project-card__overlay{
    transform: translateY(0%);
}

/* Footer */

footer{
    background-color: var(--bg-dark-color);
    font-size: 14px;
    line-height: 1.71;
    padding: 60px 0px;
}

.logo-footer {
    color: var(--clear-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-block{
    margin-bottom: 20px;
}

.address-footer {
    color: var(--clear-white-color);
    font-style: normal;
    transition: color var(--transition-dur-and-func);
}

.contact-footer{
    color: var(--font-color-adress);
    font-style: normal; 
    transition: color var(--transition-dur-and-func);
}

.contact-footer-list:not(:last-child){
margin-bottom: 9px;
}

.footer-layout{
    display: flex;
    align-items: baseline;
}

.contacts{
    margin-right: 70px;
}

.social-contacts-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--clear-white-color);
}

.social-contacts-list{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.social-contacts-link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 10%);
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-and-func);
}

.social-contacts-link:hover, .social-contacts-link:focus{
    background-color: var(--accent-color);
}

.social-contacts-icon{
    width: 20px;
    height: 20px;
    fill: var(--clear-white-color);
}

.subscribe-footer{
    margin-left: auto;
}

.subscribe-footer-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--clear-white-color);
}

.subscribe-footer-layout{
    display: flex;
    gap: 12px;

}

.subscribe-footer-email{
    display: inline-block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-dark-color);
    padding-left: 16px;
    color: var(--clear-white-color);
}

.subscribe-footer-email::placeholder {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-footer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--clear-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}

.subscribe-footer-btn-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

}

.footer-submit-icon{
    
    fill: var(--clear-white-color);
    width: 24px;
    height: 24px;
}


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 750ms ease, visibility 750ms ease, transform 750ms linear


}

.modal{
    width: 528px;
    height: 581px;
    background-color: var(--clear-white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.modal-close-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon{
    fill: var(--accent-color);
}

.modal-close-icon{
    width: 11px;
    height: 11px;
    fill: var(--clear-black-color);
}


.is-hidden{
    visibility:hidden;
    opacity:0;
    pointer-events:none;
    transform: rotateX(45deg);
}


.modal-container{
    padding: 40px;
}

.modal-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--font-color-h);
    margin-bottom: 12px;
}

.modal-label-title{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--font-color-p);
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.modal-input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: outline var(--transition-dur-and-func);
    transition: border-color var(--transition-dur-and-func);
    transition: fill var(--transition-dur-and-func);

}

.modal-input-wrapper{
    position: relative;
}

.modal-label-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

}

.modal-comment{
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    display: block;
}

.modal-comment::placeholder{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.01em;
    padding: 12px 0;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-submit-btn{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--clear-white-color);
}

.modal-checkbox-text{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    color: var(--font-color-p);
    margin: 0 auto 30px auto;
}

.modal-form .modal-checkbox-link{
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

.modal-input:focus, .modal-comment:focus{
    outline: none;
    border-color: var(--accent-color);
}

.modal-input:focus + .modal-label-icon{
    fill: var(--accent-color);
}

.checkbox-input{
    position: absolute;
    appearance: none;
}

.checkbox-input:checked + .checkbox-customised-icon{
    background-color: var(--accent-color);
    border: none;
    fill: var(--clear-white-color);
}

.checkbox-customised-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: var(--font-color-h) 2px solid;
    margin-right: 7px;
    cursor: pointer;
}

.checkbox-input:focus+.checkbox-customised-icon {
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}